@using Sandbox;
@using Sandbox.UI;

@attribute [StyleSheet]

@namespace TFS2.Menu
@inherits Panel

<root>
    <div class="content">
        <div class="class_button">
            <image class="scout" @onclick=@((PanelEvent _ ) => OnClickClassButton("Scout")) />
            <text>Scout</text>
        </div>
        <div class="class_button">
            <image class="soldier" @onclick=@((PanelEvent _ ) => OnClickClassButton("Soldier")) />
            <text>Soldier</text>
        </div>
        <div class="class_button">
            <image class="pyro" @onclick=@((PanelEvent _ ) => OnClickClassButton("Pyro")) />
            <text>Pyro</text>
        </div>
        <div class="class_button">
            <image class="demoman" @onclick=@((PanelEvent _ ) => OnClickClassButton("Demoman")) />
            <text>Demoman</text>
        </div>
        <div class="class_button">
            <image class="heavy" @onclick=@((PanelEvent _ ) => OnClickClassButton("Heavy")) />
            <text>Heavy</text>
        </div>
        <div class="class_button">
            <image class="engineer" @onclick=@((PanelEvent _ ) => OnClickClassButton("Engineer")) />
            <text>Engineer</text>
        </div>
        <div class="class_button">
            <image class="medic" @onclick=@((PanelEvent _ ) => OnClickClassButton("Medic")) />
            <text>Medic</text>
        </div>
        <div class="class_button">
            <image class="sniper" @onclick=@((PanelEvent _ ) => OnClickClassButton("Sniper")) />
            <text>Sniper</text>
        </div>
        <div class="class_button">
            <image class="spy" @onclick=@((PanelEvent _ ) => OnClickClassButton("Spy")) />
            <text>Spy</text>
        </div>
    </div>
    <div class="footer">
        <button class="button-dark" icon="undo" @onclick=@OnClickBack>Back</button>
        <text class="playername">@Game.UserName</text>
        <image class="playeravatar" Texture="avatarbig:@Game.SteamId" />
    </div>
</root>
