@import "/UI/styles/colors.scss";
@import "/UI/styles/buttons.scss";
@import "/UI/styles/footer.scss";

.hidden {
    display: none;
}

LoadoutSelection {
    width: 100%;
    height: 100%;
    background-color: $bg-darkest;
    z-index: 6;
    pointer-events: all;

    .content {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        .class_button {
            flex-direction: column;
            text-align: justify;
            padding: 5px;
        }

        .class_button text {
            font-family: 'TF2 Build';
            color: $tan-light;
            padding: 5px;
            font-size: 38px;
            text-align: center;
        }

        .class_button image {
            width: 200px;
            height: 200px;
            background-size: contain;

            &.scout {
                background: url(/ui/hud/classportraits/scout_inactive.png);

                &:hover {
                    background: url(/ui/hud/classportraits/scout_red.png);
                }
            }

            &.soldier {
                background: url(/ui/hud/classportraits/soldier_inactive.png);

                &:hover {
                    background: url(/ui/hud/classportraits/soldier_red.png);
                }
            }

            &.pyro {
                background: url(/ui/hud/classportraits/pyro_inactive.png);

                &:hover {
                    background: url(/ui/hud/classportraits/pyro_red.png);
                }
            }

            &.demoman {
                background: url(/ui/hud/classportraits/demoman_inactive.png);

                &:hover {
                    background: url(/ui/hud/classportraits/demoman_red.png);
                }
            }

            &.heavy {
                background: url(/ui/hud/classportraits/heavy_inactive.png);

                &:hover {
                    background: url(/ui/hud/classportraits/heavy_red.png);
                }
            }

            &.engineer {
                background: url(/ui/hud/classportraits/engineer_inactive.png);

                &:hover {
                    background: url(/ui/hud/classportraits/engineer_red.png);
                }
            }

            &.medic {
                background: url(/ui/hud/classportraits/medic_inactive.png);
                ;

                &:hover {
                    background: url(/ui/hud/classportraits/medic_red.png);
                }
            }

            &.sniper {
                background: url(/ui/hud/classportraits/sniper_inactive.png);

                &:hover {
                    background: url(/ui/hud/classportraits/sniper_red.png);
                }
            }

            &.spy {
                background: url(/ui/hud/classportraits/spy_inactive.png);

                &:hover {
                    background: url(/ui/hud/classportraits/spy_red.png);
                }
            }
        }
    }
}
