@using Sandbox.UI;

@attribute [StyleSheet("/UI/HUD/Objectives/Arena/ArenaWaitingForPlayers.scss")]

@namespace TFS2.UI

<root>
    <div class="message">
        <image class="msg_icon" />
        <div class="content">
            <text class="header">Welcome To Arena!</text>
            <text>Waiting for more players to join each team to start.</text>
        </div>
    </div>
</root>
