@using Sandbox.UI;

@attribute [StyleSheet("/UI/HUD/Alert.scss")]

@namespace TFS2.UI

<root>
    <div class="message">
        <image @ref="ImagePanel" class="icon" />
        <text @ref="Text" class="text" />
    </div>
</root>
