@using Sandbox.UI;

@attribute [StyleSheet("/UI/HUD/Alert.scss")]

@namespace TFS2.UI

<root>
    <div class="message">
        <image @ref="ImagePanel" class="icon" />
        <text @ref="Text" class="text">Take the INTELLIGENCE back to YOUR BASE!</text>
    </div>
</root>

@code {
    Label Text { get; set; }
    Image ImagePanel { get; set; }
}
