@import "/UI/styles/colors.scss";

DamageNumbers {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;

    .number {
        display: flex;
        position: absolute;
        color: $white;
        font-family: TF2_Build;
        font-size: 38px;
        color: red;
        text-shadow: 2px 2px 2px 2px black;
    }
}
