@using Sandbox.UI;
@using TFS2;
@using System.Linq;

@attribute [StyleSheet("/UI/HUD/Scoreboard.scss")]

@namespace TFS2.UI

<root>
    <div class="container" @ref="Container">
        <div class="limit_container">
            <div class="teampanel blue">
                <image class="team_logo" />
				<text class="player_count">@TFTeam.Blue.GetPlayers().Count() players</text>
                <text class="team_score" @ref="BlueTeamScore"></text>
            </div>
            <div class="limit_wrapper">
                <image class="mode_logo" @ref="ModeLogo" />
                <text class="mode_label" @ref="ModeName" />
                <text class="limit_display" @ref="ServerTimeLeft">No time limit</text>
            </div>
            <div class="teampanel red">
                <text class="team_score red" @ref="RedTeamScore"></text>
				<text class="player_count red">@TFTeam.Red.GetPlayers().Count() players</text>
                <image class="team_logo red" />
            </div>
        </div>
        <div class="players_container">
            <div class="players_wrapper">
                <div class="teamcol blue">
                    <div class="row header">
                        <text class="avatar" />
						<text class="name">#Generic.Name</text>
                        <text class="score">#Generic.Score</text>
						<text class="ping">#Generic.Ping</text>
                    </div>
                    <div class="players" @ref="BluePlayerList" />
                </div>
                <div class="teamcol red">
                    <div class="row header">
                        <text class="avatar" />
						<text class="name">#Generic.Name</text>
                        <text class="score">#Generic.Score</text>
						<text class="ping">#Generic.Ping</text>
                    </div>
                    <div class="players" @ref="RedPlayerList" />
                </div>
            </div>
            <div class="footer">
                <image class="class_image" @ref="ClassImage" />
                <div class="stats">
                    <div class="info_container">
                        <text class="name" @ref="PlayerName" />
                        <text class="map" @ref="MapName" />
                    </div>
                    <div class="stats_container">
                        <div class="col">
                            <div class="row">
                                <text class="stat_name">#GameScoreboard.Stat.Kills</text>
                                <text class="stat_value" @ref="Kills"/>
                            </div>
                            <div class="row">
								<text class="stat_name">#GameScoreboard.Stat.Deaths</text>
                                <text class="stat_value" @ref="Deaths"/>
                            </div>
                            <div class="row">
								<text class="stat_name">#GameScoreboard.Stat.Assists</text>
                                <text class="stat_value" @ref="Assists"/>
                            </div>
                            <div class="row">
								<text class="stat_name">#GameScoreboard.Stat.Destruction</text>
                                <text class="stat_value" @ref="Destruction"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
								<text class="stat_name">#GameScoreboard.Stat.Captures</text>
                                <text class="stat_value" @ref="Captures"/>
                            </div>
                            <div class="row">
								<text class="stat_name">#GameScoreboard.Stat.Defenses</text>
                                <text class="stat_value" @ref="Defenses"/>
                            </div>
                            <div class="row">
								<text class="stat_name">#GameScoreboard.Stat.Domination</text>
                                <text class="stat_value" @ref="Domination"/>
                            </div>
                            <div class="row">
								<text class="stat_name">#GameScoreboard.Stat.Revenge</text>
                                <text class="stat_value" @ref="Revenge"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
								<text class="stat_name">#GameScoreboard.Stat.Invulns</text>
                                <text class="stat_value" @ref="Invulns"/>
                            </div>
                            <div class="row">
								<text class="stat_name">#GameScoreboard.Stat.Headshots</text>
                                <text class="stat_value" @ref="Headshots"/>
                            </div>
                            <div class="row">
								<text class="stat_name">#GameScoreboard.Stat.Teleports</text>
                                <text class="stat_value" @ref="Teleports" />
                            </div>
                            <div class="row">
								<text class="stat_name">#GameScoreboard.Stat.Healing</text>
                                <text class="stat_value" @ref="Healing" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
								<text class="stat_name">#GameScoreboard.Stat.Backstabs</text>
                                <text class="stat_value" @ref="Backstabs" />
                            </div>
                            <div class="row">
								<text class="stat_name">#GameScoreboard.Stat.Bonus</text>
                                <text class="stat_value" @ref="Bonus" />
                            </div>
                            <div class="row">
								<text class="stat_name">#GameScoreboard.Stat.Support</text>
                                <text class="stat_value" @ref="Support" />
                            </div>
                            <div class="row">
								<text class="stat_name">#GameScoreboard.Stat.Damage</text>
                                <text class="stat_value" @ref="Damage" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</root>
