@using Sandbox.UI;
@using Sandbox;
@using Amper.FPS;

@attribute [StyleSheet("/UI/HUD/Spectator.scss")]

@namespace TFS2.UI

<root>
    <div class="header">
        <text class="observertarget" @ref="Target" />
        <text class="timer" @ref="TimerElement" />

        <div class="hint controls">
            <div class="control_row">
                <InputGlyph Button="Attack1" />
                <text>Spectate Next Target</text>
            </div>
            <div class="control_row">
                <InputGlyph Button="Attack2" />
                <text>Spectate Previous Target</text>
            </div>
            <div class="control_row">
                <InputGlyph Button="Jump" />
                <text>Change Spectator Mode</text>
            </div>
            <div class="control_row">
                <InputGlyph Button="Menu" />
                <text>Open Menu</text>
            </div>
        </div>
        <div class="map">
            <text class="hint">Playing on:</text>
            <text class="name" @ref="MapName" />
        </div>
    </div>
</root>

@code {
    private Label TimerElement { get; set; }
    private Label MapName { get; set; }
    private Label Target { get; set; }
}
