@import "styles/colors.scss";

.objectives {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    flex-direction: column-reverse;
    padding-bottom: 30px;
}

InputGlyph {
    background-image-tint: $tan-light;
    transition: transform .1s ease;

    &.pressed {
        transform: scale(0.9);
    }
}
