[submodule "code/Libraries/Source1"]
	path = code/Libraries/Source1
	url = https://github.com/AmperSoftware/Sbox-Source1-Base.git
[submodule "sbox-FPS-SDK"]
	path = sbox-FPS-SDK
	url = https://github.com/AmperSoftware/sbox-FPS-SDK
[submodule "code/Libraries/FPS"]
	path = code/Libraries/FPS
	url = https://github.com/AmperSoftware/sbox-FPS-SDK
