[submodule "code/Libraries/FPS"]
	path = code/Libraries/FPS
	url = https://github.com/AmperSoftware/sbox-FPS-SDK
[submodule ".localization"]
	path = .localization
	url = https://github.com/AmperSoftware/TF-Source-2-Localization.git
