*.*_c
!*.vtex_c
!*.shader_c

*.cache
*.json

!**/.localization/*/TFS2.json

/*.bin

code/accesslist.txt
code/Properties
code/obj
*.csproj
*.csproj.user
.vs
.intermediate

_bakeresourcecache
maps/*.los

# Source 1 Content

*.vtf
*.vmt
*.qc

lighting/
elements/sessions/*

*.blend1

dev/*
*.fgd

scenes/*
expressions/*

*.generated.vtex_c