@using Sandbox.UI;

@attribute [StyleSheet]

@namespace TFS2.UI

<root>
    <div class="container">
        <RoundStatusPlayers Team=@TFTeam.Blue />
        <div class="round_container">
            <div class="timers_container" @ref="TimersContainer" />
        </div>
        <RoundStatusPlayers Team=@TFTeam.Red />
        <text class="game_state_label" @ref="GameStateLabel" />
    </div>
</root>
