@import "/UI/styles/colors.scss";
@import "/UI/styles/buttons.scss";
@import "/UI/styles/checkbox.scss";

SettingsMenu {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    z-index: 6;
    transition: opacity .1s ease, transform .1s ease;
    visibility: hidden;
    pointer-events: none;
    background-color: #000a;

    &.open {
        pointer-events: all;
        opacity: 1;
        left: 0%;
        transition: all 0.3s ease-out;
    }

    .container {
        max-width: 800px;
        max-height: 800px;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #231f1cee, #302a25ee, #231f1cee);
        backdrop-filter: blur(50px);
        border-radius: 6px;
        transition: transform .2s ease;
        flex-direction: column;
    }

    .header {
        width: 100%;
        padding: 15px 20px;
        font-size: 52px;
        background-color: $tan-darkest;
        border-radius: 6px;
        font-family: TF2_Build;
        color: $tan-light;
        text-align: center;
    }

    .navbar button {
        border-radius: 0px 00px 0 0;
        backdrop-filter: blur(15px);
    }

    .footer {
        flex-direction: column;
        margin-top: 10px;
    }

    .reset-defaults {
        align-self: flex-end;
    }
}

ObjectEditor {
    overflow: scroll;
}

SettingRow {
    background-color: rgba(black .1);
    color: white;
    margin-bottom: 4px;
    align-items: center;
    font-size: 24px;
    font-family: TF2_Build;
    flex-shrink: 0;

    &:hover {
        background-color: rgba(black .3);
    }

    > Label {
        min-width: 200px;
        padding: 10px;
    }

    TextEntry {
        cursor: text;
        height: 100%;
        padding: 20px;
        background-color: black;
    }

    Button.toggle {
        border: 2px solid black;
        border-radius: 0%;
        width: 32px;
        height: 32px;
        padding: 0;
        margin-right: 5px;

        &:hover {
        }

        &.active {
        }
    }

    .slider {
        min-width: 200px;

        .track {
            border-radius: 0px;
        }

        .track .inner {
            border-radius: 0px;
        }

        .thumb {
            border-radius: 0px;
        }
    }
}