@import "/UI/styles/buttons.scss";
@import "/UI/styles/colors.scss";
@import "/UI/styles/checkbox.scss";

.layout {
    flex-direction: column;
    margin: 5%;
    background-color: #3C352Daa;

    * {
        flex-shrink: 0;
    }
}

.header {
    height: 20%;

    .title {
        height: 30%;
        padding-top: 2%;
        padding-left: 2%;
        font-family: TF2_Build;
        font-size: 40px;
        color: $tan-light;
    }
}

.body {
    height: 65%;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0px 50px;
    justify-content: space-between;

    .players {
        flex-direction: column;
        width: 60%;
        gap: 5px;

        LobbyMember {
            background-color: $bg-darker;
            //margin: 4%;
            flex-basis: 12%;

            .avatar {
                margin: 1%;
                height: 80%;
                aspect-ratio: 1;
                background-size: cover;
                border-radius: 10%;
            }

            .name {
                flex-grow: 1;
                align-self: center;
                height: 50%;
                font-family: TF2_Secondary;
                font-size: 40px;
                padding-left: 8px;
                color: $tan-light;
            }

            .host {
                height: 100%;
                aspect-ratio: 1;
                background-size: cover;
                background-image-tint: #e28512;
                right: 0;
            }
        }
    }

    .server {
        width: 30%;
        flex-direction: column;

        MapInfo {
            flex-direction: column;
            width: 100%;
            height: 40%;
            align-items: center;
            flex-grow: 1;

            .title {
                font-family: TF2_Build;
                font-size: 28px;
                color: $tan-light;
            }

            .thumbnail {
                height: 80%;
                aspect-ratio: 1;
                background-size: contain;
            }
        }

        .info {
            margin-top: 2%;
            flex-grow: 1;
            flex-direction: column;
            background-color: $bg-darker;
            border-radius: 10px;
            width: 100%;
            align-items: center;

            .title {
                margin-top: 5%;
                height: 15%;
                font-family: TF2_Secondary;
                font-size: 30px;
                color: $tan-light;
                border-bottom: 3px solid $tan-light;
            }

            .description {
                flex-grow: 1;
                font-family: TF2_Primary;
                font-size: 24px;
                padding-top: 2%;
                color: $tan-light;
            }
        }
    }
}

.actions {
    height: 15%;
    justify-content: space-between;

    .button {
        margin: 2%;
    }
}