$form-row-height: 48px;

.form {
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    gap: 2px;
    padding-left: 64px;
    margin-bottom: 50px;

    > .form-group {
        flex-direction: row;
        flex-shrink: 0;
        gap: 16px;
        min-height: $form-row-height;

        > .form-label {
            width: 280px;
            opacity: 0.5;
            height: $form-row-height;
            align-items: center;
            justify-content: flex-end;
            font-size: 20px;
            white-space: nowrap;
        }
    }
}

.form .form-control {
    flex-grow: 1;

    SliderControl, > DropDown, > textentry, SliderControl textentry {
        flex-grow: 1;
        font-size: 20px;
        height: $form-row-height;
    }

    > textentry, SliderControl textentry {
        flex-grow: 1;
        background-color: #ffffff05;
        height: $form-row-height;
        color: #aaa;
        width: 600px;
        border-radius: 0;
        padding: 5px;

        &:hover {
            background-color: #ffffff11;
        }

        &:focus {
            background-color: #ffffff22;
            color: #fff;
        }
    }

    SliderControl {
        gap: 2px;

        > .inner {
            > .values {
                position: absolute;
                padding: 16px;
                color: #fffa;
            }

            > .track {
                height: 100%;
                margin: 2px 0px;
                border-radius: 0;
                background-color: #ffffff05;

                > .track-active {
                    background-color: #ffffff11;
                    border-radius: 0;
                }

                > .thumb {
                    width: 4px;
                    height: 100%;
                    background-color: #fff8;
                }
            }
        }
    }
}