@using System
@using System.Linq;
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;

@attribute [StyleSheet]
@namespace TFS2.Menu

@if (Game.Menu.Lobby == null)
{
    <div>No lobby. Error. We shouldn't be here.</div>
    return;
}

<root class="layout">

    <div class="header">
        <label class="title">Create A Game</label>

        <div class="nav">
            <a class="tab active" href="/lobby">Lobby</a>
            <a class="tab" href="/lobby/maps">Map</a>
            <a class="tab" href="/lobby/settings">Settings</a>
            <a class="tab" href="/lobby/addons">Addons</a>
        </div>
    </div>

    <div class="body">
        <div class="players">
    
            @foreach (var member in Game.Menu.Lobby.Members)
            {
                // todo right click to view profile, mute, kick, whatever we can do

                <LobbyMember Member=@member></LobbyMember>
            }

        </div>

        <div class="server">
            <MapInfo Map=@Game.Menu.Lobby.Map />
            <div class="info">
                <label class="title">@Game.Menu.Lobby.Title</label>
                <label class="description">@Game.Menu.Lobby.Description</label>
            </div>
        </div>
    </div>
    
    <div class="actions">
    
        <div class="left">
            <a class="button" href="/" title="Go To Main Menu"> &lt; </a>

            <span class="button" onclick=@( () => Game.Menu.Lobby?.Leave() )>Exit Lobby</span>
        </div>

        <div class="right">

            @if (Game.Menu.Lobby.Owner.IsMe)
            {
                <span class="button" onclick=@StartGame>Start Game</span>
            }
        </div>

    </div>

</root>

@code
{
    public void StartGame()
    {
        _ = Game.Menu.EnterServerAsync();
        this.Navigate("/");
    }

    protected override int BuildHash()
    {
        var lobby = Game.Menu.Lobby;

        return HashCode.Combine(lobby?.Title, lobby?.Owner.Id, lobby?.MemberCount, lobby?.MaxMembers, Game.Menu.Package?.PackageSettings?.Count());
    }

    public override void Tick()
    {
        base.Tick();

        if (!IsVisible)
            return;

        if (Game.Menu.Lobby == null)
        {
            this.Navigate("/");
        }
    }
}
