@using System
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@inherits Panel;
@namespace TFS2.Menu

<root class="@SpecialClasses()" >
    <img style="background-image: url( avatar:@Member.Id )" class="avatar" />
    <label class="name">@Member.Name</label>
    @if (Game.Menu.Lobby != null && Game.Menu.Lobby.Owner.Equals(Member))
    {
        <img src="/UI/Menu/Lobby/host.png" class="host" />
    }
</root>

@code
{
    public Friend Member { get; set; }

    string SpecialClasses()
    {
        if (Member.IsMe) return "is-me";
        if (Member.IsFriend) return "is-friend";

        return "";
    }
}
