@using System
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;

@attribute [StyleSheet("/UI/Menu/Lobby/LobbyPage.razor.scss")]
@inherits Panel;
@namespace TFS2.Menu

@if (Game.Menu.Lobby == null)
    return;

<root class="layout">

    <div class="header">
        <label class="title">Create A Game</label>

        <div class="nav">
            <a class="tab" href="/lobby">Lobby</a>
            <a class="tab active" href="/lobby/maps">Map</a>
            <a class="tab" href="/lobby/settings">Settings</a>
            <a class="tab" href="/lobby/addons">Addons</a>
        </div>
    </div>

    <div class="body">
        <PackageList ShowFilters="@true" style="padding-bottom: 50px;" Query="type:map sort:trending" OnSelected="@OnPackageSelected" Take=@(50)></PackageList>
    </div>
    
    <div class="actions">
    
        <div class="left">
            <a class="button" href="/" title="Go To Main Menu"> &lt; </a>

            <span class="button" onclick=@( () => Game.Menu.Lobby?.Leave() )>Exit Lobby</span>
        </div>

        <div class="right">

            @if (Game.Menu.Lobby.Owner.IsMe)
            {
                <span class="button" onclick=@StartGame>Start Game</span>
            }
        </div>

    </div>

</root>

@code
{
    void OnPackageSelected( Package package )
    {
        Game.Menu.Lobby.Map = package.FullIdent;
        this.Navigate( "/lobby" );
    }
    public void StartGame()
    {
        _ = Game.Menu.EnterServerAsync();
        this.Navigate("/");
    }

    public override void Tick()
    {
        base.Tick();

        if (!IsVisible)
            return;

        if (Game.Menu.Lobby == null)
        {
            this.Navigate("/");
        }
    }
}
