@import "/UI/styles/buttons.scss";
@import "/UI/styles/colors.scss";
@import "/UI/styles/checkbox.scss";

.hidden {
    display: none;
}

.layout {
    flex-direction: column;
    margin: 5%;
    background-color: #3C352Daa;

    * {
        flex-shrink: 0;
    }
}

.header {
    height: 20%;
    flex-direction: column;

    .title {
        height: 40%;
        padding-top: 2%;
        padding-left: 2%;
        font-family: TF2_Build;
        font-size: 40px;
        color: $tan-light;
    }

    .nav {
        height: 80%;
        justify-content: space-evenly;
        align-items: center;

        .tab {
            padding: 1%;
            font-family: TF2_Secondary;
            font-size: 40px;
            background-color: $tan-darker;
            border-radius: 25px 25px 0 0;
            width: 20%;

            label {
                text-align: center;
                width: 100%;
            }

            &:hover {
                background-color: $tan-dark;
            }

            &.active {
                background-color: $tan-darkest;
            }

        }
    }
}

.body {
    border-top: 6px solid $tan-light;
    height: 65%;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0px 50px;
    justify-content: space-between;

    .players {
        flex-direction: column;
        width: 60%;
        gap: 5px;

        LobbyMember {
            background-color: $bg-darker;
            //margin: 4%;
            flex-basis: 12%;

            .avatar {
                margin: 1%;
                height: 80%;
                aspect-ratio: 1;
                background-size: cover;
                border-radius: 10%;
            }

            .name {
                flex-grow: 1;
                align-self: center;
                height: 50%;
                font-family: TF2_Secondary;
                font-size: 40px;
                padding-left: 8px;
                color: $tan-light;
            }

            .host {
                height: 100%;
                aspect-ratio: 1;
                background-size: cover;
                background-image-tint: #e28512;
                right: 0;
            }
        }
    }

    .server {
        width: 30%;
        flex-direction: column;

        MapInfo {
            flex-direction: column;
            width: 100%;
            height: 40%;
            align-items: center;
            flex-grow: 1;

            .title {
                font-family: TF2_Build;
                font-size: 28px;
                color: $tan-light;
            }

            .thumbnail {
                height: 80%;
                aspect-ratio: 1;
                background-size: contain;
            }
        }

        .info {
            margin-top: 2%;
            flex-grow: 1;
            flex-direction: column;
            background-color: $bg-darker;
            border-radius: 10px;
            width: 100%;
            align-items: center;

            .title {
                margin-top: 5%;
                height: 15%;
                font-family: TF2_Secondary;
                font-size: 30px;
                color: $tan-light;
                border-bottom: 3px solid $tan-light;
            }

            .description {
                flex-grow: 1;
                font-family: TF2_Primary;
                font-size: 24px;
                padding-top: 2%;
                color: $tan-light;
            }
        }
    }
}

$form-row-height: 48px;

.form {
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    gap: 2px;
    padding-left: 64px;
    margin-bottom: 50px;
    overflow: scroll;

    &.basic {
        width: 50%;
    }

    &.convars {
        width: 50%;
    }

    > .form-group {
        flex-direction: row;
        flex-shrink: 0;
        gap: 16px;
        min-height: $form-row-height;

        > .form-label {
            width: 30%;
            opacity: 0.5;
            height: $form-row-height;
            align-items: center;
            justify-content: flex-end;
            font-size: 20px;
            white-space: nowrap;
            word-wrap: break-word;
        }
    }

}

.form .form-control {
    flex-grow: 1;

    SliderControl, > DropDown, > textentry, SliderControl textentry {
        flex-grow: 1;
        font-size: 20px;
        height: $form-row-height;
    }

    > textentry, SliderControl textentry {
        flex-grow: 1;
        background-color: #ffffff05;
        height: $form-row-height;
        color: #aaa;
        width: 600px;
        border-radius: 0;
        padding: 5px;

        &:hover {
            background-color: #ffffff11;
        }

        &:focus {
            background-color: #ffffff22;
            color: #fff;
        }
    }

    SliderControl {
        gap: 2px;

        > .inner {
            > .values {
                position: absolute;
                padding: 16px;
                color: #fffa;
            }

            > .track {
                height: 100%;
                margin: 2px 0px;
                border-radius: 0;
                background-color: #ffffff05;

                > .track-active {
                    background-color: #ffffff11;
                    border-radius: 0;
                }

                > .thumb {
                    width: 4px;
                    height: 100%;
                    background-color: #fff8;
                }
            }
        }
    }
}

.actions {
    height: 15%;
    justify-content: space-between;

    .button {
        margin: 2%;
    }
}