@using Sandbox.UI;

@attribute [StyleSheet("/UI/HUD/Objectives/ControlPoint/ControlPointDisplayEntry.scss")]

@namespace TFS2.UI

<root>
    <div class="icon" />
    <text class="timer" @ref="Timer" />
    <div class="pulse" @ref="Pulser" />

    <div class="cappers">
        <div class="player_icon" />
        <text class="player_count">X</text>
        <text class="player_count" @ref="CappersCount">0</text>
    </div>

    <div class="progress_container">
        <div class="progress" @ref="ProgressArrow" />
    </div>

    <div class="progress_pointer">
        <div class="background progress owner" @ref="OwnerProgressPanel" />
        <div class="background progress capper" @ref="CapperProgressPanel" />
        <div class="background blocked" @ref="BlockedPanel" />
        <text class="message" @ref="PointerMessage" />
    </div>
</root>

@code {
    Label CappersCount { get; set; }
    Label Timer { get; set; }
    Panel ProgressArrow { get; set; }
    Panel Pulser { get; set; }
    Panel BlockedPanel { get; set; }
    Panel OwnerProgressPanel { get; set; }
    Panel CapperProgressPanel { get; set; }
    Label PointerMessage { get; set; }
}
