@import "/UI/styles/colors.scss";

ControlPointDisplay {
    width: 100%;
    z-index: 2;
    display: none;
    flex-direction: column-reverse;
    row-gap: 4%;

    &.visible {
        display: flex;
    }

    .row {
        width: 100%;
        justify-content: center;
    }
}
