@using Sandbox.UI;

@attribute [StyleSheet]

@namespace TFS2.UI

<root>
    <div class="icon" />
    <text class="timer" @ref="Timer" />
    <div class="pulse" @ref="Pulser" />

    <div class="cappers">
        <div class="player_icon" />
        <text class="player_count">X</text>
        <text class="player_count" @ref="CappersCount"></text>
    </div>

    <div class="progress_container">
        <div class="progress" @ref="ProgressArrow" />
    </div>

    <div class="progress_pointer">
        <div class="background progress owner" @ref="OwnerProgressPanel" />
        <div class="background progress capper" @ref="CapperProgressPanel" />
        <div class="background blocked" @ref="BlockedPanel" />
        <text class="message" @ref="PointerMessage" />
    </div>
</root>
