@using Amper.FPS;
@using Sandbox;
@using Sandbox.UI;
@using TFS2.UI

@attribute [StyleSheet("/UI/HUD/TargetID/TargetID.scss")]

@namespace TFS2

<root class="targetid">

    <div class="container">
        <!-- Stupid hack because theres no way to make a float in razor apparently  -->
        <HealthCross FlashScale=@float.Parse("0.5") @ref="Cross" />
        <div class="labels">
            <div class="profile">
                <text class="pretext" @ref="Pretext" />
                <image class="avatar" @ref="Avatar" />
                <text class="name" @ref="Name" />
            </div>
            <text class="subtext" @ref="Subtext" />
        </div>
    </div>

    <div class="interaction">
        <div class="slider">
            <InputGlyph @ref="InteractionButton" />
            <text @ref="InteractionText" />
        </div>
    </div>
</root>
