TargetIDContainer {
    position: absolute;
    width: 100%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    bottom: -40px;

    TargetIDHealing {
        top: 100px;
    }
}
