@using System;
@using Sandbox.UI;
@namespace TFS2.Menu
@attribute [StyleSheet]

@inherits MenuOverlay

<root>
    <div class="container">
        <div class="header">Blogpost</div>
        <WebPanel class="website" @ref="WebPanel"></WebPanel>
        <button class="button-dark" @onclick=@OnClickClose>Close</button>
    </div>
</root>
