@using Sandbox.UI;

@attribute [StyleSheet]

@namespace TFS2.Menu
@inherits MenuOverlay

<root>
    <div class="container">
        <text class="header">#GameMenu.DisconnectDialog.Title</text>

        <div class="content">
			<text class="message">#GameMenu.DisconnectDialog.Description</text>
            <div class="button_container">
				<button class="button" @onclick=@OnClickCancel>#Generic.Cancel</button>
				<button class="button" @onclick=@OnClickDisconnect>#GameMenu.Disconnect</button>
            </div>
        </div>
    </div>
</root>
