@using Sandbox.UI;
@using Sandbox;
@using Amper.FPS;

@attribute [StyleSheet]

@namespace TFS2.Menu

@inherits Panel

<root>
    <!--
    <div class="disclaimer">
        <div class="dev_container">
            <div class="dev_text">
                <text>#GameMenu.DevNotice</text>
            </div>
            <div class="dev_logo" />
        </div>
       <div class="build"><text class="build_number">(Alpha) 0.1.5</text></div> 
    </div>
    -->

    <div class="container">
        <image class="logotype" />
        <div class="menublock">
            <div class="header">
                <text>#GameMenu.Title.Game</text>
            </div>

            <div class="content">
                @if(Game.InGame)
                {
                    <button class="button-gradient" @onclick=@OnClickResumeGame>#GameMenu.ResumeGame</button>
                    <button class="button-gradient" @onclick=@OnClickJoinGame>#GameMenu.JoinGame</button>
                }
                else
                {
                    <button class="button-gradient" @onclick=@OnClickCreateGame>#GameMenu.CreateGame</button>
                    <button class="button-gradient" @onclick=@OnClickJoinGame>#GameMenu.JoinGame</button>
                }
            </div>
        </div>

        <div class="menublock">
            <div class="header">
				<text>#GameMenu.Title.Customize</text>
            </div>
            <div class="content">
                <button class="button-gradient" @onclick=@OnClickLoadout>#GameMenu.Loadout</button>
                <button class="button-gradient" @onclick=@OnClickSettings>#GameMenu.Settings</button>
            </div>
        </div>

        <div class="news">
            <div class="header">
                <div>
                    <div class="date">
                        <div class="date_icon" />
						<text class="date_label">Sunday, Nov 20th, 2022</text>
                    </div>
                </div>
				<text class="title">Opening the Source</text>
            </div>

			<div class="content">
				<text class="text">An update about the state of the project, what has happened over the past few months, what we have planned for the future and what you should expect.</text>
				<button class="button-dark" @onclick=@OnClickBlog>
					#GameMenu.Blog.ReadMore
					<text class="link">open_in_new</text>
				</button>
			</div>
        </div>
    </div>

    <ServerList @ref=List></ServerList>

    <div class="footer">
        <button class="button-dark" icon="highlight_off" @onclick=@OnClickQuit>#Generic.Quit</button>
        @if(Game.InGame)
        {
            <button class="button-dark" @onclick=@OnClickClassSelection icon="people_alt">#GameMenu.ChangeClass</button>
            <button class="button-dark" @onclick=@OnClickTeamSelection icon="sync_alt">#GameMenu.SwitchTeam</button>
        }
        
        <text class="playername">@Game.UserName</text>
        <image style="background-image: url( avatar:@Game.SteamId )" class="playeravatar" />
    </div>
</root>
