@using Sandbox.UI;
@using Sandbox;
@using Amper.FPS;

@attribute [StyleSheet]

@namespace TFS2.Menu

@inherits Panel

<root>
    <div class="container">
        <image class="logotype" />
        <div class="menublock">
            <div class="header">
                <text>#GameMenu.Title.Game</text>
            </div>

            <div class="content">
                @if(Game.InGame)
                {
                    <button class="button-gradient" @onclick=@OnClickResumeGame>#GameMenu.ResumeGame</button>
                    <button class="button-gradient" @onclick=@OnClickJoinGame>#GameMenu.JoinGame</button>
                }
                else
                {
                    @if (Game.Menu.Lobby == null)
                    {
                        <button class="button-gradient" @onclick=@OnClickCreateGame>#GameMenu.CreateGame</button>
                    }
                    else
                    {
                        <button class="button-gradient" @onclick=@OnClickViewLobby>#GameMenu.ViewLobby</button>
                    }
                    <button class="button-gradient" @onclick=@OnClickJoinGame>#GameMenu.JoinGame</button>
                }
            </div>
        </div>

        <div class="menublock">
            <div class="header">
				<text>#GameMenu.Title.Customize</text>
            </div>
            <div class="content">
                <button class="button-gradient" @onclick=@OnClickLoadout>#GameMenu.Loadout</button>
                <button class="button-gradient" @onclick=@OnClickSettings>#GameMenu.Settings</button>
            </div>
        </div>

        <div class="news" style="background: url(@GetBlogThumbnail());">
            <div class="header">
                <div>
                    <div class="date">
                        <div class="date_icon" />
						<text class="date_label">Sunday, Nov 20th, 2022</text>
                    </div>
                </div>
				<text class="title">@GetBlogTitle()</text>
            </div>

			<div class="content">
				<text class="text">@GetBlogDescription()</text>
				<button class="button-dark" @onclick=@OnClickBlog>
					#GameMenu.Blog.ReadMore
					<text class="link">open_in_new</text>
				</button>
			</div>
        </div>
    </div>

    <ServerList @ref=List></ServerList>

    <div class="footer">
        @if(Game.InGame)
        {
            <button class="button-dark" icon="highlight_off" @onclick=@OnClickDisconnect>#GameMenu.Disconnect</button>
            <button class="button-dark" @onclick=@OnClickClassSelection icon="people_alt">#GameMenu.ChangeClass</button>
            <button class="button-dark" @onclick=@OnClickTeamSelection icon="sync_alt">#GameMenu.SwitchTeam</button>
        }
        else
        {
            <button class="button-dark" icon="highlight_off" @onclick=@OnClickQuit>#Generic.Quit</button>
            <button class="button-dark" icon="engineering" @onclick=@OnClickCredits>#Credits.Button</button>
        }
        
        <text class="playername">@Game.UserName</text>
        <image style="background-image: url( avatar:@Game.SteamId )" class="playeravatar" />
    </div>
</root>
