.tfs2menu {
    padding: 0 170px;
    opacity: 1;
    flex-direction: column;
    font-size: 25px;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.3s ease-out;
    color: white;

    &:intro {
        opacity: 0;
        transform: scaleX( 1.1 );
    }

    &:not(.ingame) {
        background-image: url(https://media.discordapp.net/attachments/998352460693372998/1114194149302878268/sbox_0228.png);
        background-size: 100%;
    }
}

.navigator-body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    flex-direction: column;
    //padding: 100px 0px;
}

