@using Sandbox.UI;
@using Sandbox;
@using Amper.FPS;

@attribute [StyleSheet("/UI/Menu/MainMenuPanel.scss")]

@namespace TFS2.UI

<root>
    <div class="disclaimer">
        <div class="dev_container">
            <div class="dev_text">
                <text>In-development build: bugs are to be expected and essential features may be missing</text>
            </div>
            <div class="dev_logo" />
        </div>
        <!--<div class="build"><text class="build_number">(Alpha) 0.1.5</text></div> -->
    </div>

    <div class="container">
        <image class="logotype" />
        <div class="menublock">
            <div class="header">
                <text>Game</text>
            </div>

            <div class="content">
                <button class="button-gradient" @onclick=@OnClickResumeGame>Resume Game</button>
                <button class="button-gradient disabled" @onclick=@OnClickJoinGame>Join a Game</button>
            </div>
        </div>

		<image class="new" />

        <div class="menublock">
            <div class="header">
                <text>Customize</text>
            </div>
            <div class="content">
                <button class="button-gradient" @onclick=@OnClickLoadout>Loadout</button>
				<button class="button-gradient" style="box-shadow: 0px 0px 10px 3px #a95821;" @onclick=@OnClickSettings>
					Settings
				</button>
            </div>
        </div>

        <div class="news">
            <div class="header">
                <div>
                    <div class="date">
                        <div class="date_icon" />
                        <text class="date_label">Sunday, Nov 20th, 2022</text>
                    </div>
                </div>
                <text class="title">Opening the Source</text>
            </div>

			<div class="content">
				<text class="text">An update about the state of the project, what has happened over the past few months, what we have planned for the future and what you should expect.</text>
				<button class="button-dark" @onclick=@OnClickBlog>Read More on tfsource2.com
					<text class="link">open_in_new</text>
				</button>
			</div>
        </div>
    </div>

    <div class="footer">
        <button class="button-dark" icon="highlight_off" @onclick=@OnClickQuit>Quit</button>
        <button class="button-dark" @onclick=@OnClickClassSelection icon="people_alt">Change Class</button>
        <button class="button-dark" @onclick=@OnClickTeamSelection icon="sync_alt">Switch Team</button>
        <text @ref="PlayerName" class="playername" />
        <image @ref="PlayerAvatar" class="playeravatar" />
		<div class="inputnotice">
			Change class & teams are now bound to <div class="glyph"><InputGlyph Button="Class" /></div> and <div class="glyph"><InputGlyph Button="Team" /></div> just like in TF2!
		</div>
    </div>
</root>
