@using Sandbox.UI;

@attribute [StyleSheet("/UI/Menu/Settings.scss")]

@namespace TFS2.UI
@inherits MenuOverlay

<root>
    <div class="container">
        <text class="header">Settings</text>

        <div class="content">
            <div class="settings">
                <text class="header">Combat Options</text>
                <div class="checkbox">
                    <checkbox Checked:bind=@cl_autoreload>Auto-reload current weapon when you're not firing</checkbox>
                </div>
                <div class="slider">
                    <text class="label">Hit Sound Volume</text>
                    <SliderEntry min="0.0" max="1.0" step="0.01" Value:bind=@tf_hitsound_volume />
                </div>
                <div class="slider">
                    <text class="label">Kill Sound Volume</text>
                    <SliderEntry min="0.0" max="1.0" step="0.01" Value:bind=@tf_killsound_volume />
                </div>
                <text class="header">Combat Specific Options</text>
                <div class="checkbox">
                    <checkbox Checked:bind=@tf_sniper_autoscope_enabled>Sniper: Sniper rifle will re-zoom after firing a zoomed shot</checkbox>
                </div>
            </div>
            <button class="button-dark" @onclick=@OnClickClose>Close</button>
        </div>
    </div>
</root>
