@using Sandbox.UI;
@attribute [StyleSheet]

@namespace TFS2.UI

<root>
    <div class="attacker target">
        <text class="label" @ref="AttackerName" />
        <text class="label" @ref="PostAttackerMessage" />
    </div>

    <div class="streak">
        <text class="label" @ref="StreakCounter" />
        <div class="streak_icon" />
    </div>

    <div class="icon_backdrop">
        <image @ref="IconElement" class="icon_weapon" src="/ui/deathnotice/skull.png" />
    </div>

    <div class="victim target">
        <text class="label" @ref="VictimName" />
        <text class="label" @ref="PostVictimMessage" />
    </div>
</root>
