TeamFragDisplay {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    height: 180px;
    display: none;

    &.visible {
        display: flex;
    }

    .container {
        background-image: url(/ui/hud/objectives/frags/background.png);
        background-size: contain;
        width: 650px;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;

        .limit {
            background-color: #2f2b28;
            width: 230px;
            height: 40px;
            position: absolute;
            border: 2px solid #d3c9ae;
            border-radius: 10px;
            color: #e9e0c8;
            font-family: TF2_Secondary;
            font-size: 22px;
            padding-top: 7px;
            left: 210px;
            top: 140px;
            z-index: 2;
            justify-content: center;
        }

        .overlay {
            position: absolute;
            background-image: url(/ui/hud/objectives/frags/overlay.png);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: 1;
        }

        .bars_container {
            width: 100%;
            height: 100%;
            padding: 60px 3px 28px;

            .progress {
                width: 100%;
                height: 100%;
                flex-direction: column-reverse;

                .bar {
                    width: 100%;
                    background-size: cover;
                    background-position: bottom;
                    flex-direction: row-reverse;
                }

                .score {
                    font-family: TF2_Build;
                    height: 100%;
                    width: 100%;
                    color: #d3c9ae;
                    align-items: center;
                    font-size: 64px;
                    text-shadow: 2px 2px 0 black;
                    position: absolute;
                    text-align: center;
                }

                &.red {
                    .bar {
                        background-image: url(/ui/hud/objectives/frags/progress_right.png);
                        background-image-tint: #bd3b3b;
                    }
                }

                &.blue {
                    .bar {
                        background-image: url(/ui/hud/objectives/frags/progress_left.png);
                        background-image-tint: #5b7a8e;
                    }
                }
            }
        }
    }
}
