DispenserScreen {
    max-width: 20px;
    max-height: 10px;
    background: url(/ui/weapons/buildings/dispenser_meter_bg_red.png);
    background-size: contain;
    background-position: center;
    position: relative;
}
