@using Sandbox.UI
@using Amper.FPS
@using Sandbox;

@attribute [StyleSheet("/UI/HUD/Voice/VoiceMenu.scss")]

@namespace TFS2

<root>
    <div class="container">
        <div class="menus" @ref="PageContainer" />
    </div>
</root>

@code {
    Panel PageContainer { get; set; }
    Panel InfoContainer { get; set; }
}
