@import "/UI/Styles/colors.scss";

Health {
    position: absolute;
    width: 200px;
    height: 100px;
    bottom: 1%;
    left: 1%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    flex-direction: column;
    z-index: 0;

    HealthCross {
        position: absolute;
        width: 125px;
        height: 125px;
        bottom: 5%;
        left: 65%;

        .label {
            font-family: TF2_Secondary;
            font-size: 45px;
            top: 35%;
        }
    }

    &.red {
        background-image: url(/ui/HUD/Health/container_red.png);
    }

    &.blue {
        background-image: url(/ui/HUD/Health/container_blu.png);
    }

    &.hidden {
        display: none;
    }

    .playerclass {
        position: absolute;
        width: 175px;
        height: 175px;
        background-size: contain;
        background-repeat: no-repeat;
        bottom: 1.8%;
        left: 8%;
    }

    .health_update {
        position: absolute;
        width: 100%;
        font-family: TF2_Secondary;
        font-size: 50px;
        color: $green;
        top: -60%;
        left: 85%;
        z-index: 1;
        display: flex;
        animation-name: health-update;
    }
}

@keyframes health-update {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    50% {
        opacity: 1;
        transform: translateY(-100%);
    }
    100% {
        opacity: 0;
        transform: translateY(-200%);
    }
}