@using Sandbox.UI
@using System.Linq

@attribute [StyleSheet("/UI/Menu/Items/ItemSelection.scss")]

@namespace TFS2.UI
@inherits MenuOverlay

<root>
    <div class="content">
        <div class="loadout_wrapper">
            <div class="loadout_header">
                <div class="loadout_title">
                    <text class="marker">>></text>
                    <text class="class_name">@PlayerClass.Title</text>
                    <text class="slot_name">@Slot</text>
                </div>
                <text class="loadout_subtitle">Select an item:</text>
            </div>
            <div class="loadout_content">
                <div class="items">
                    @foreach(var weapon in WeaponData.FindAllForClassAndSlot(PlayerClass, Slot))
                    {
                        <ItemPicker PlayerClass=@PlayerClass Slot=@Slot Data=@weapon @onclick=@((PanelEvent e) => {OnClickEquip(weapon);}) />
                    }
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer">
        <button class="button-dark" icon="undo" @onclick=@OnClickBack>Back</button>
        <text class="playername">@Sandbox.Game.LocalClient.Name</text>
        <image class="playeravatar" Texture="avatarbig:@Sandbox.Game.LocalClient.SteamId" />
    </div>
</root>
