@import "/UI/styles/colors.scss";

.loadingpanel {
    background: linear-gradient(to top, $bg-light, $bg-darker, $bg-darker, $bg-darkest);
    background-size: 100%;
    width: 100%;
    height: 100%;
    color: white;
    padding: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: TF2_Build;
    pointer-events: all;

    > .description {
        font-size: 25px;
        color: $tan-light;
    }

    > .title {
        font-size: 110px;
        color: $white;
        font-weight: bolder;
        text-align: center;
    }

    > .subtitle {
        font-size: 40px;
        color: $tan-light;
        font-weight: 100;
    }

    > .controls {
        position: absolute;
        bottom: 5%;
        right: 5%;
        height: 20%;
        width: 30%;
        background-color: $bg_footer;
        flex-direction: column;
        border-radius: 15px;
        align-items: center;
        padding: 2%;
        gap: 1%;

        .title {
            width: 90%;
            height: 40%;
            font-size: 32px;
            color: $panel-text;
            font-weight: bolder;
            text-align: center;
            margin-top: 5%;
            font-family: TF2_Secondary;
            align-items: center;
            justify-content: center;
        }

        .progress {
            height: 30%;
            width: 90%;
            margin: 1%;
            background-color: $text-regular;
            border-radius: 5px;
            overflow: hidden;

            .bar {
                background-color: $text-highlight;
                position: absolute;
                height: 100%;
            }

            .text-left {
                flex-grow: 1;
                flex-shrink: 0;
            }

            .text-right {
                flex-shrink: 0;
            }

            .text-left, .text-right {
                padding: 5px 20px;
                white-space: nowrap;
                font-weight: bold;
                opacity: 0.2;
                font-size: 20px;
                align-items: flex-end;
                color: $tan-darkest;

                .unit {
                    font-size: 15px;
                    opacity: 0.5;
                }
            }
        }

        .button {
            height: 30%;
            width: 90%;
            font-size: 25px;
            padding: 1%;
            background-color: $tan-dark;
            color: $white;
            font-weight: bold;
            cursor: pointer;
            font-family: TF2_Primary;
            text-align: center;
            border-radius: 5px;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: $bg-dark;
            }
        }
    }
}
