@import "/UI/styles/colors.scss";
@import "/UI/styles/buttons.scss";
@import "/UI/styles/footer.scss";

ServerMessage {
    position: absolute;
    pointer-events: all;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 5;
    flex-direction: column;

    ScenePanel {
        position: absolute;
        width: 100%;
        height: 100%;

        .board {
            position: absolute;
            width: 900px;
            height: 630px;
            top: 200px;
            left: 570px;
            flex-direction: column;
            font-family: TF2_Professor;
            font-size: 42px;
            color: $quality-normal;

            .title {
                color: #fff;
                font-size: 80px;
                margin-bottom: 10px;
            }
        }
    }
}
