$quality-normal: #B2B2B2;
$quality-unique: #FFD700;
$quality-vintage: #476291;
$quality-genuine: #4D7455;
$quality-strange: #CF6A32;
$quality-unusual: #8650AC;
$quality-haunted: #38F3AB;
$quality-collectors: #AA0000;
$quality-community: #70B04A;
$quality-valve: #A50F79;

$attribute-positive: #99CCFF;
$attribute-negative: #FF4040;
$attribute-neutral: #EBE2CA;

$button-neutral: #776B5F;
$button-hover: #934739;

$bg-light: #3C352D;
$bg-dark: #3C352D;
$bg-darker: #2B2724;
$bg-darkest: #221E1B;

$team-red: #B23D3C;
$team-blu: #597488;
$team-red-name: #EA5251;
$team-blu-name: #9CCBF5;
$team-neutral: #37312F;
$team-spectator: #CDCDCD;

$text-regular: #A49E9E;
$text-highlight: #C36525;

$bg-gradient-top: #38332D;
$bg-gradiant-bottom: #221F1A;
$bg_footer: #393530;

$tan-light: #EBE2CA;
$tan-dark: #756B5E;
$tan-darker: #2E2B2A;
$tan-darkest: #191919;
$white: #F2F2E8;

$panel-border: 2px solid #F2E2C1;
$panel-text: #F2E2C1;
$panel-bg: #2C2B2BCC;

$orange: #352417;